.container__btns {
  margin-top: 1em;
}
.text-primary {
  font-size: 1.5em;
}
.btn-primary {
  height: 2em;
  width: 2em;
  background-color: cornflowerblue;
  border-radius: 0.5em;
  font-size: 1em;
  text-align: center;
  margin: 1em;
}
